body { 
    background-image: url("./images/background1.png");
    color: #69443c;
    background-color: #f2dad1;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    margin: 0 0.3em 0.3em 0;
    text-decoration: none;
  
  }
  button {
  
    background-color: transparent;
    color: #69443c;
    border: 2px solid #69443c; 
    /* background-color: #69443c; 
    border-radius: 12px solid white;
    box-sizing:  border-box;
    margin:0 0.3em 0.3em 0;
    color: white;
    text-decoration: none;
    padding:0.35em 1.2em;
    text-align: center;
    display: inline-block;
    font-weight:300;
    font-size: 16px; */
    
  }